:root
{
  --light-blue: #8ECAE6;
  --medium-blue: #219EBC;
  --dark-blue: #023047;
  --light-orange: #FFB703;
  --dark-orange: #FB8500;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    /* define a fonte que foi importada do google.fonts para o arquivo html */
    font-family: 'Open Sans', sans-serif;
}

a
{
    text-decoration: none;
}
